header>* {
	margin: 0px 0px 100px 0px;
	display: inline-block;
	width: 80%;
	font-family: Arial, Helvetica, sans-serif;
}
.logo {
	float: left;
	font-size: 40px;
	/* width: 400px; */
	margin: auto;
	width: 30%;
}
ul.menu {
	list-style: none;
	float: right;
	width: 30%;
}
ul.menu li {
	display: inline;
	box-align: right;
}
a:link {
	text-decoration: none;
	margin: 10px;
}
main {
	margin: auto;
	text-align: left;
	width: 50%;
	clear: both;
}
.title {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.date {
	text-align: center;
	color: gray;
	font-size: 14px;
}
.button {
	background-color: rgb(63, 132, 197);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
}
footer {
	margin: auto;
	width: 50%;
}
ul.footer li {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
}
.copyright {
	text-align: center;
}